/* create.module.css */

.create-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
  border: 1px solid gray;
  text-align: center;
}

.create-text {
  position: relative;
  border: 1px solid transparent;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.parent-container {
  display: grid;
  grid-template-areas: 
    'picture descrption'
    'dateTime dateTime ';
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.float-child {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 { grid-area: picture;}
.item2 { grid-area: descrption;}
.item3 { grid-area: dateTime;}



.form-container {
  color: black;
}

.form-column {
  text-align: center;
  padding: 50px;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 6px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}

.form-container input:hover,
.form-container textarea:hover {
  background-color: gray;
  color: black;
}

.form-button-container input {
  text-align: center;
  margin-top: 20px;
  background-color: gray;
  color: white;
  border-radius: 50px;
  transition-duration: 0.4s;
}

.form-button-container input:hover {
  background-color: blue;
  color: white;
}

.left-column {
  width: 50%;
  padding: 0 10px;
  align-items: flex-start; /* Align fields to the top */
}

.right-column {
  flex-direction: column;
  width: 50%;
  padding: 0 10px;
}

.upload-conatiner {
  color: black;
}

.upload-pic {
  display: inline-block;
  border-radius: 25px;
  padding: 180px 40px;
  border: 1px dashed black;
  background-color: white;
  color: black;
  margin: auto;
}

.container-form {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
  border-color: transparent;
}

.content-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  font-size: 20px;
  text-align: center;
  border-color: transparent;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px;
  font-size: 20px;
}

.item1 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.info-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  font-size: 20px;
  text-align: center;
  border-color: transparent;
}


.datetime-box {
  margin: 10px;
  padding: 5px;
  background-color: #33b249;
  border: none;
  border-radius: 10px;
}

.remove-box  {
  padding: 5px;
  background-color: #ED0800;
  border: none;
  border-radius: 10px;

}