/* create.module.css */

.create-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
  border: 1px solid gray;
  text-align: center;
}

.create-text {
  position: relative;
  border: 1px solid transparent;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.parent-container {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem;
}

.float-child {
  display: inline-block;
  border: 1px solid transparent;
  padding: 2rem;
  vertical-align: middle;
}

.form-container {
  color: black;
}

.form-column {
  text-align: left; /* Align form elements to the left */
}

.form-container label {
  margin-bottom: 5px;
  display: block; /* Ensure labels are displayed as block elements */
}

.form-container input,
.form-container textarea {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 12px;
  transition-duration: 0.4s;
}

.form-container input:hover,
.form-container textarea:hover {
  background-color: #f2f2f2; /* Change background color on hover */
  color: black;
}

.form-button-container input {
  width: 100%;
  margin-top: 20px;
  background-color: gray;
  color: white;
  border-radius: 50px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.form-button-container input:hover {
  background-color: #555; /* Change background color on hover */
}

.datetime-box {
  margin: 10px;
  padding: 10px;
  background-color: #33b249;
  border: none;
  border-radius: 10px;
  color: white;
}

.remove-box {
  margin: 10px;
  padding: 10px;
  background-color: #ED0800;
  border: none;
  border-radius: 10px;
  color: white;
}